{% extends 'base.html' %}

{% block content %}

<main class='bg-primary_black min-h-screen w-full'>
    <section class=' min-h-screen flex justify-center py-10'>
        <div class="p-8 w-10/12 relative" >
            <h2 class="text-gray-600 text-2xl font-medium">
                Resultados da Busca
            </h2>
            <div class="flex flex-wrap items-center min-w-full movie_lis">
                {% for seguro in pesquisa_seguro %}
                    <div class="m-4 bg-blue-500 overflow-hidden flex-shrink-0 rounded-md cursor-pointer h-64 w-96">
                        <a href="{% url 'seguros:detalheseguros' seguro.pk %}">
                        <img src="{{ seguro.img_seguro.url }}" class="object-cover w-full h-full " alt="">
                        </a>
                    </div>
                {% endfor %}
                
                {% for plano in pesquisa_plano %}
                        <div class="m-4 overflow-hidden flex-shrink-0 rounded-md cursor-pointer h-64 w-96">
                            <a href="{% url 'seguros:detalheplanos' plano.pk %}">
                            <img src="{{ plano.img_plano.url }}" class="object-cover w-full h-full " alt="">
                            </a>
                        </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

